body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .card {
  display:flex;
  font-family: Arial, Roboto, sans-serif;
 }
 .container{
  display: inline;
 } */
 /* .row:hover{
  background-color: SteelBlue;
 } */
 /* .row{
  box-shadow: 1px solid gray;
 } */
 /* @media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }

  
} */

/* #btn{
  cursor: pointer;
} */