h2 {
  font-size: 18px;
  margin-top: 15px;
}

.btn {
  background: none;
  border: 1px solid #ccc;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgb(77, 135, 77);
  cursor: pointer;
}

body {
  margin-top: 50px;
  background: #eee;
}

/*panel*/
.panel {
  border: none;
  box-shadow: none;
  background-color: white;
  height: 50%;
}

.proimgdetails img {
  width: 600px;
  height: 600px;
  padding-left: 20px;
  border-radius: 50%;
}

.prodtitle {
  font-size: 16px;
  margin-top: -562px;
  padding-left: 45%;
}
.des {
  padding-left: 45%;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
  padding-left: 45%;
}
.m_bot15 {
  padding-left: 45%;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}
.product_meta a,
.pro-price {
  color: #fc5959;
}

.amount_old {
  color: #fc5959;
}

.quantity {
  width: 120px;
}

.spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
